<ion-card class="m-place">
  <ion-grid>

    <ion-row>
      <ion-col size-s='12' size-lg='2' class="header">
        <h1>Заявка на прорахунок конструкції</h1>
      </ion-col>

      <!-- col 1 -->
      <ion-col size='12' size-lg='2'>
        <ion-col>
          <input type="text" placeholder='Імя' />
          <!-- <ion-icon name="person-outline"></ion-icon> -->
        </ion-col>


        <ion-col>
          <input type="text" placeholder='Пошта' />
          <!-- <ion-icon name="mail-outline"></ion-icon> -->
        </ion-col>
      </ion-col>

      <!-- col 2 -->
      <ion-col size='12' size-lg='2'>
        <ion-col>
          <input type="text" placeholder='Імя' />
          <!-- <ion-icon name="person-outline"></ion-icon> -->
        </ion-col>


        <ion-col>
          <input type="text" placeholder='Пошта' />
          <!-- <ion-icon name="mail-outline"></ion-icon> -->
        </ion-col>
      </ion-col>

      <!-- button  -->
      <ion-col size-s='12' size-lg='2'>
        <input type='button' value='РОЗРАХУВАТИ' class="btn-calc">
      </ion-col>

    </ion-row>





  </ion-grid>
</ion-card>