<ion-header [translucent]="true">

  <ion-grid>

    <ion-row class="menu">


      <ion-col size-s='1' class="emty">
        <div>
          <ion-buttons slot="start">
            <ion-menu-button menu='main-menu'></ion-menu-button>
          </ion-buttons>
        </div>
      </ion-col>

      <ion-col size-lg='1'></ion-col>


      <ion-col size-s='2' size-lg='1' class="header-logo">
        <div>STEKO</div>
      </ion-col>

      <ion-col size-s='3' class="emty"></ion-col>
      <ion-col size-s='3' class="emty"></ion-col>

      <ion-col size-s='0' size-lg='8' class="hide-nav">
        <div class="nav-bar">
          <ul>
            <li><a>ПРОДУКЦІЯ</a>
              <ul class="drop-menu">
                <li><a>drop1</a></li>
                <li><a>drop2</a></li>
                <li><a>drop3</a></li>
              </ul>
            </li>
            <li><a href="#">РОЗУМНИЙ ДІМ</a></li>
            <li><a href="#">ВІДГУКИ</a></li>
            <li><a href="#">ПРО НАС</a></li>
            <li><a href="#">КОНТАКТИ</a></li>
            <li><a href="#">+3801234567</a></li>
          </ul>
        </div>
      </ion-col>

      <ion-col size-s='9' size-lg='1'>
        <div>
          <button class="btn">ЗАКАЗАТИ ДЗВІНОК</button>
        </div>
      </ion-col>

      <ion-col size-lg='1'></ion-col>


    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <app-slides></app-slides>
  <app-form-zayavka></app-form-zayavka>
</ion-content>