ion-header {
  background-color: #333333;
  font-size: 1.3rem;
}
.menu {
    align-items: center;
}

.btn {
    padding: 10px 25px;
}

@media (max-width: 768px) { 
  .hide-nav {
    display: none;
  }
}


@media (min-width: 1024px) { 
  ion-grid {
    margin: 0;
    padding: 0;
  }
  .header-logo {
    padding: 0;
  }
  .menu {
    align-items: center;

}
  ion-buttons {
    display: none;
  }
  .emty {
        display: none;

  }
.nav-bar {
    position: relative;
}
  .nav-bar ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 25px 5px;

      a {
      text-decoration: none;
      color: white;
    }
    }
  }
  .nav-bar ul li:hover {
    text-decoration: underline;
  }
  .nav-bar ul ul {
    display: none;
  }
  .nav-bar ul li:hover > ul {
    display: block;
  }

  .drop-menu {
    position: absolute;
    top: 79px;
    left: 0;
    background-color: #333333;
  }
  .drop-menu  li{
    background-color: #333333;
    height: 30px;
    width: 135px;
  }
  .drop-menu  li:hover {
    text-decoration: underline;
  }

  

  .btn {
    padding: 10px 25px;
    font-size: 1.3rem;
  }
}

