<div>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgF9oRZ4ukAAzUPrmgyxqaJmXwIKCoUs0rRQ&usqp=CAU"
        alt="photo_1">
    </ion-slide>
    <ion-slide>
      <img src="https://furnatur.life/lander/yandex-ilya-furnatur_life/index_files/ideal_2000.jpg" alt="photo_2">
    </ion-slide>
    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbOrTpOt4lqp70OHCkT6e6LHq8uOPs7q4w_A&usqp=CAU"
        alt="photo_3">
    </ion-slide>
  </ion-slides>
</div>